<h1>All Contestants</h1>

<p><% @contestants.each do |contestant| %></p>
  <div id= "contestant_<%=contestant.id %>" >
    <p><%= contestant.name %></p>
    <p>Projects:<%= contestant.find_all_projects %></p>
  </div>
<p><% end %></p>